@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8%;
  background-color: #ffffff;
}

.nav-img {
  max-height: 48px;
  display: block;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #575757;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #271111;
}

.register-btn {
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.75rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #1d4ed8;
}

/* hero css */
.hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('./assets/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  padding: 140px 20px 100px;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
  letter-spacing: -0.05em;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 0;
  font-weight: 400;
}

.register-btn-hero {
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  padding: 18px 56px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.register-btn-hero:hover {
  background-color: #1d4ed8;
}